<!DOCTYPE html>
<html>

<head>
    <title>Not found</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div id="content">
        <h1 id="hta">404 PAGE NOT FOUND</h1>
        <p>Please contact the site administrator</p>
    </div>
</body>

</html>