<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div id="content">
        <h1 id="hta">{{title}}</h1>
        <p>{{description}}</p>
        <form id="cta" action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" id="myFile" accept=".xlsx, .xls, .csv" name="filename" />
            <input type="submit">
        </form>
    </div>

</body>

</html>